@import '../../styles/variables';

.button {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-flex;
    font-size: rem-calc(16);
    font-weight: 400;
    line-height: 1;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s ease;
    user-select: none;
    vertical-align: middle;

    &:focus,
    &:hover {
        text-decoration: none;

        .button__icon {
            transform: translate3d(6px, 0, 0);
        }
    }
}

.button__icon {
    height: rem-calc(24);
    margin-left: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s ease;
    width: rem-calc(24);
}