@import '../../styles/variables';

.hero {
    padding: rem-calc(24 0);

    @include media-breakpoint-up(lg) {
        padding: rem-calc(48 0);
    }

    @include media-breakpoint-up(xl) {
        padding: rem-calc(64 0 48);
    }
}

.hero__title {
    font-weight: 600;
}