body {
    border-top: 1px solid $blue;
}

.page {
    background-color: #fff;
    margin: 0 auto;
    max-width: 60em;
    padding: 2em 1em;

    @include respond-to(large) {
        padding: 5em 2em 2em;
    }
}

.site-header {
    padding-top: 40px;
    position: relative;
}

.site-header__title {

}

.site-header__subtitle {
    border-top: 1px solid $blue;
    font-weight: 400;
    left: 0;
    padding-top: 0.1em;
    position: absolute;
    text-transform: uppercase;
    top: 0;
}


.list {
    list-style: square;
    padding-left: 1.5em;
    margin-bottom: 1em;
}

.list--horizontal {

    .list_item {
        display: inline-block;
    }
}
