$breakpoints: (
    'small'  : ( min-width: 37.500em), 
    'medium' : ( min-width: 48em),
    'large'  : ( min-width: 64em),
    'xlarge'  : ( min-width: 75em)
);

$blue:#477dca;
$light-blue:#c0d6e1;
$dark-gray:#313131;

$base-font-family: 'Roboto', serif; //300/400
$heading-font-family: 'Roboto Condensed', sans-serif; //300/400
$base-font-weight: 400;
$base-line-height: 1.875;

$heading-line-height: 1.2;
$heading-font-weight: 300;

$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

$base-background-color: #fff;
$base-font-color: $dark-gray;
$base-font-size: 0.875em;

$action-color: $blue;