@import 'variables';

html {
    overflow-y: scroll;
}

body {
    background-color: #fff;
    color: palette('dark-grey');
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.65;
}

::selection {
    background-color: palette('blue');
    color: #fff;
}


p {
    margin-bottom: 1.5rem;
}

h1, 
h2, 
h3, 
h4, 
h5 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.15;
    margin: 3rem 0 1rem;
}

h1,
.h1 {
    font-size: rem-calc(33.18);
    margin-top: 0;

    @include media-breakpoint-up(lg) {
        font-size: rem-calc(39.81);
    }
}
  
h2,
.h2 {
    font-size: rem-calc(27.65);

    @include media-breakpoint-up(lg) {
        font-size: rem-calc(33.18);
    }
}

h3,
.h3 {
    font-size: rem-calc(23.04);

    @include media-breakpoint-up(lg) {
        font-size: rem-calc(27.65);
    }
}

h4,
.h4 {
    font-size: rem-calc(19.20);

    @include media-breakpoint-up(lg) {
        font-size: rem-calc(23.04);
    }
}

h5,
.h5 {
    font-size: rem-calc(16);

    @include media-breakpoint-up(lg) {
        font-size: rem-calc(19.20);
    }
}

small, 
.text-small {
    font-size: 0.833rem;
}

.text-uppercase {
    text-transform: uppercase;
}

a {    
    color: inherit;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    text-decoration: underline;

    &:focus,
    &:hover {
        color: palette('blue');
    }
}

.unstyled-list {
    list-style: none;
    padding-left: 0;
}

.unstyled-list__item {
    margin-bottom: rem-calc(16);
}

.link {
    position: relative;
    text-decoration: none;

    &--has-icon {
        padding-left: rem-calc(24);
        text-transform: uppercase;
    }
}

.link__icon {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
}

strong {
    font-weight: 500;
}

/*
bg colours
*/
@each $name, $color in $brand-palette {

    .bg--#{$name} {
        background-color: $color;

        @if index($dark_colors, $name) {
            color: #fff;
        }
    }

    .text--#{$name} {
        color: $color;
    }

    .icon--#{$name} {
        fill: $color;
    }
}