@import '../../styles/variables';

.grid {
    display: grid;
    margin-top: rem-calc(24);

    @include media-breakpoint-up(lg) {
        grid-template-columns: 2fr 1fr;
        column-gap: rem-calc(48);
        margin-top: rem-calc(48);

        &--cards {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @include media-breakpoint-up(xxl) {
        // column-gap: rem-calc(48);
        // margin-top: rem-calc(64);
    }
}

.card {
    background-color: palette('light-grey');
    border-left: 1px solid palette('blue');
    border-radius: 2px;    
    display: flex;
    flex-direction: column;
    margin-bottom: rem-calc(24);
    padding: rem-calc(24);

    @include media-breakpoint-up(lg) {
        margin-bottom: rem-calc(48);
        // padding: rem-calc(32);
    }

    @include media-breakpoint-up(xxl) {
        margin-bottom: rem-calc(64);
        // padding: rem-calc(48);
    } 
}

.card__body {
    margin-bottom: rem-calc(16);
}

.card__title {
    margin-top: 0;
    // text-transform: uppercase;

    @include media-breakpoint-up(lg) {
        margin-bottom: rem-calc(24);
    }
}

.card__footer {
    margin-top: auto;
}