@import '../../styles/variables';

.icon {
    display: inline-block;    
    height: rem-calc(24);    
    fill: currentColor;
    stroke-width: 0;
    stroke: currentColor;
    width: rem-calc(24);
}

.icon--sm {    
    height: rem-calc(18);
    width: rem-calc(18);
}