---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ContactCard from '../components/ContactCard.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Home | Simon Morgan Digital">
    <main>

        <Hero
            title="Website Development"            
        >
            <p>Available for contracts starting Feb 2025</p> 
        </Hero>
        
        <section class="section">
            <div class="container">
                <div class="grid">
                
                    <Card
                        href="/about"
                        title="About"
                        body="",
                        label="Find out more"
                    >
                        <p>Freelance front-end web developer and technical lead with over 17 years agency experience. I specialise in creating responsive, accessible and high performing front end user interfaces using HTML, CSS and Javascript.</p>
                    </Card>

                    <Card
                        href="/portfolio"
                        title="Portfolio"
                        body="",
                        label="View portfolio"
                    >
                        <p>I've worked across various sectors including charities, finance and law. </p><p>View my recent projects below.</p>
                    </Card>

                    <Card 
                        href=""
                        title="Contact"
                        body="",
                        label="Find out more"
                    >
                        <ContactCard />
                    </Card>

                </div>
            </div>
        </section>
    </main>
</Layout>

<style>
    .grid {
        gap: 1.125rem;
    }

    @media (min-width: 1024px) {
        .grid {
            display: grid;
            gap: 3rem;
            grid-template-columns: repeat(3, 1fr);
        }
    }
</style>
