---
interface Props {
    title: string;
    body: string;
    href: string;
    label: string;
}

const { href, title, body, label = 'Find out more' } = Astro.props;
---

<div class="card bg-light-grey">
    <div>
        <h2 class="h3 text-blue">{title}</h2>
        <slot />
    </div>
    <div>
        {href && <a href={href}>{label} &raquo;</a>}        
    </div>
</div>
<style>
    .card {
        border-left: 1px solid var(--color-blue);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 1.25rem;
        padding: 1.125rem;
    }

    @media (min-width: 1200px) {
        .card {
            padding: 1.5rem;
        }
    }    
</style>
