---
import Header from '../components/Header.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Simon Morgan Digital - Website Development" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --color-black: #000000;
        --color-blue: #3273dc;
        --color-light-grey: #fbfbfb;
        --color-white: #ffffff;
    }

    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    html {
        overflow-y: scroll;
    }

    body {
        background-color: var(--color-white);
        color: var(--color-black);
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
    }

    h1, 
    h2, 
    h3, 
    h4, 
    h5,
    h6 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.2;
        margin: 0 0 1.5rem;
    }

    h1,
    .h1 {
        font-size: 2rem;
    }    

    h2,
    .h2 {
        font-size: 1.5rem;
    }

    h3,
    .h3 {
        font-size: 1.25rem;
    }

    a {
        color: var(--color-blue);
        text-decoration: none;
    }

    a:hover,
    a:focus {
        text-decoration: underline;
        text-underline-offset: 4px;
    }

    .section {
        padding: 2rem 0;
    }
    
    .container {
        margin: 0 auto;
        max-width: 90rem;
        padding: 0 1.25rem;
        width: 100%;;
    }

    .bg-blue {
        background-color: var(--color-blue);
    }

    .bg-light-grey {
        background-color: var(--color-light-grey);
    }

    .text-black {
        color: var(--color-black);
    }

    .text-white {
        color: var(--color-white);
    }

    .text-blue {
        color: var(--color-blue);
    }

    .icon {
        display: inline-block;    
        height: 1.25rem;
        fill: currentColor;
        flex-shrink: 0;
        stroke-width: 0;
        stroke: currentColor;
        width: 1.25rem;
    }

    @media (min-width: 1200px) {

        .section {
            padding: 4rem 0;
        }

        h1,
        .h1 {
            font-size: 2.5rem;
        }

        h2,
        .h2 {
            font-size: 2rem;
        }

        h3,
        .h3 {
            font-size: 1.5rem;
        }
    }
</style>
